/order_executor/.vscode
/order_executor/.idea/
/order_executor/.vscode/*
/wallet.db
/wallet_synchronizer/.idea/
/node_modules/
/wallet_synchronizer/*.log
/wallet_synchronizer/*.db
/.idea/
/wallet_syncronizer_node/
