/order_executor/.vscode
/order_executor/.idea/
/order_executor/.vscode/*
/wallet.db
/wallet_synchronizer/.idea/
/node_modules/
/wallet_synchronizer/*.log
/.idea/
/wallet_synchronizer_node/
/auth/.idea/
/auth/*.log
/order_executor/cmd/*.exe